

{
    "presets": ["@babel/preset-react"],
    "plugins": 
    [
      ["@babel/plugin-transform-react-jsx", 
      {
        "pragma": "Flow.createElement",       // default pragma is React.createElement
        "throwIfNamespace": false             // defaults to true
      }]
    ]
}


